.todo-list {
  border: 2px solid black;
  width: 100%;
  min-width: 10rem;
  padding: 1rem;
}

/* .item-actions button {
  width: 6rem;
  background-color: transparent;
  border: 2px solid black;
  margin: 0 0.25rem;
  font-weight: bold;
} */

.accept:hover {
  background-color: #009900;
}

.accept .done {
  background-color: #009900;
}
